
# Ignore Python cache & compiled files
__pycache__/
*.pyc

# Ignore environment config & sensitive files
.env
.env.txt
config.py

# Ignore virtual environments
venv/

# Ignore system files
.DS_Store
Thumbs.db